@import "https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap";
@import "https://fonts.googleapis.com/css2?family=Quantico&family=Syne+Mono&display=swap";
@import "https://fonts.googleapis.com/css?family=Raleway";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import 'https://fonts.googleapis.com/css?family=Quantico';
@import 'https://fonts.googleapis.com/css?family=Press Start 2P';
@import 'https://fonts.googleapis.com/css?family=Poppins';

*{
  margin: 0;
  padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}
/* Navigation */

.nav-container{
    background: #fffffa;
    box-shadow: 0px 8px 24px  rgba(0, 0, 0, 0.1);
    height: 62px;
}


.navbar{
  width: 100%;
  background: white;
  overflow: auto;
  border-bottom: 1px solid black;
}

.logo {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Quantico";
  font-size: 13px;
}

ul {
  float: right;
  padding: 0;
  margin: 0 0 0 200px;
  list-style: none;
}

li {
  float: left;
  font-size: 13px;
}

li a {
  width: 100px;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-family: "Times New Roman";
  text-align: center;
  transition: 0.4s ease-in-out;
  color: black;
  font-family: "Poppins";

}

ul li a:hover{
color: firebrick;
}

ul li a:hover:not(.active) {
background-color: #e7e7e7;
padding: 12px;
}

.active {
background-color: black;
color: white;
}


.header-container {
  background: #FFFFFF url("bg-how.png");
  background-repeat: no-repeat;
  opacity: 0.85;
  height: calc(100vh - 62px);
  display: flex;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h2 {
  font-family: 'Syne Mono';
  font-style: normal;
  font-size: 30px;
  font-weight: 200;
  line-height: 72px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}


header p {

font-family: 'Syne Mono', sans-serif;
font-weight: 200;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
text-transform: capitalize;

color: #000000;
}

#linkmeta {
  font-family: 'Syne Mono', sans-serif;
  font-weight: 200;
  font-size: 16px;
}


.wrapper {
  display: flex;
}

.content {
  text-align: center;
  max-width: 300px;
  margin: 0 100px;

}
.content img
{
  position: relative;
  left: 20px;
}
